{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Binary Pack">
    <meta name="author" content="Binary Pack Ltd.">
    <link rel="icon" href="{% static 'enose/img/favicon.ico' %}">
    <title>IntelliNose</title>

    <!-- CSS libraries-->
    <link href="{% static 'enose/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'enose/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link href="{% static 'enose/css/main.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'enose/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script>
    <![endif]-->
    <script src="{% static 'enose/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'enose/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'enose/js/respond.min.js' %}"></script>
    <![endif]-->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="{% static 'enose/js/canvas/canvasjs.min.js' %}"></script>

</head>
<body>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    <img src="{% static 'enose/img/logo.png' %}" class="logo" alt="Logo"/>
                </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>Aktualne Pomiary</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-area-chart"></i>Historyczne Pomiary</a>
            </li>
			<hr />
			<li class="nose-control">
                NOSE CONTROL
            </li>
			<li class="turn-on-off">
				<form method="post">
					<button class="btn-on" name="on_nos">ON</button> 
					<button class="btn-off" name="off_nos">OFF</button>
				</form>
			</li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <button href="#menu-toggle" class="wrapper_toggle_btn" id="menu-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="clearfix"></div>

        <!-- Header -->
        <div class="header">
            <div class="clearfix"></div>
            <div class="row">
                <div class="search_bar">
                    <div class="input-group search_bar_input">
                        <span class="input-group-addon">
                        <!-- tutaj komunikaty -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#header -->

        <!-- Content area -->
        <div class="container-fluid">
            <div class="content-area">
                <!-- content overview -->
				
				<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ostatnio wykryte zagrożenie</h3>
                            </div>
                            <div class="panel-body-warning" id='panel-body-warning'>
                            <!-- Tutaj ostatnio wykryte zagrozenia -->
                            </div>
                        </div>
                    </div>
                </div>
                
				<div class="row">
				
				    <div class="col-lg-3">
                        <!-- Single block -->
                        <div class="overview-block">
                            <div class="overview-left pull-left">
                                <div class="overview-icon">
                                    <i class="fa fa-hacker-news"></i>
                                </div>
                            </div>
                            <div class="overview-right pull-left">
                                <h4 class="overview-value" id='klasa'>Good</h4>
                                <span class="overview-title">Klasa</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
					
                    <div class="col-lg-3">
                        <!-- Single block -->
                        <div class="overview-block">
                            <div class="overview-left pull-left">
                                <div class="overview-icon">
                                    <i class="fa fa-thermometer-three-quarters"></i>
                                </div>
                            </div>
                            <div class="overview-right pull-left">
                                <h4 class="overview-value" id='temperatura'>35&deg;C</h4>
                                <span class="overview-title">Temperatura</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- Single block -->
                        <div class="overview-block">
                            <div class="overview-left pull-left">
                                <div class="overview-icon">
                                    <i class="fa fa-tty"></i>
                                </div>
                            </div>
                            <div class="overview-right pull-left">
                                <h4 class="overview-value" id='wilgotnosc'>23%</h4>
                                <span class="overview-title">Wilgotność</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- Single block -->
                        <div class="overview-block">
                            <div class="overview-left pull-left">
                                <div class="overview-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <div class="overview-right pull-left">
                                <h4 class="overview-value" id='godzinapomiaru'>10:32</h4>
                                <span class="overview-title">Godzina pomiaru</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Wykresy</h3>
                            </div>
                            <div class="panel-body">
								<div class="col-lg-8">
									<!-- Single block -->
									<div class="overview-block">
										<div class="overview-left-chart">
											<div class="overview-chart">
												KLASA
											</div>
											</br><div class="chartContainer" id="chartContainer" width="auto" height="100"></div>
											<script src="{% static 'enose/js/chart-temperatura-wilgotnosc.js' %}"></script>
										</div>
									<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-lg-4">
									<!-- Single block -->
									<div class="overview-block">
										<div class="overview-left-chart">
											<div class="overview-chart">
												GAZY
											</div>
											</br>
												<div class="col-lg-6">
												<div class="gazy-header">MQ135</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value" id='mq135'>126</div>
											</div>

											<div class="col-lg-6">
												<div class="gazy-header">MQ136</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value" id='mq136'>26</div>
											</div>

											<div class="col-lg-6">
												<div class="gazy-header">MQ2</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value" id='mq2'>126</div>
											</div>

											<div class="col-lg-6">
												<div class="gazy-header">MQ3</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value" id='mq3'>26</div>
											</div>
											
											<div class="col-lg-6">
												<div class="gazy-header">MQ4</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value" id='mq4'>37</div>
											</div>
											
											<div class="col-lg-6">
												<div class="gazy-header">MQ5</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value"  id='mq5'>256</div>
											</div>
											
											<div class="col-lg-6">
												<div class="gazy-header">MQ6</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value"  id='mq6'>21</div>
											</div>
											
											<div class="col-lg-6">
												<div class="gazy-header">MQ7</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value"  id='mq7'>15</div>
											</div>
											
											<div class="col-lg-6">
												<div class="gazy-header">MQ8</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value"  id='mq8'>754</div>
											</div>
                                            	<div class="col-lg-6">
												<div class="gazy-header">MQ9</div>
											</div>
											<div class="col-lg-6">
												<div class="gazy-value"  id='mq9'>754</div>
											</div>

										</div>
									<div class="clearfix"></div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /#Content area -->

        <!-- Footer area -->
        <footer class="footer">
            <div class="container-fluid">
            </div>
        </footer>
        <!-- /#Footer area -->
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script src="{% static 'enose/js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'enose/js/bootstrap.min.js' %}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'enose/js/ie10-viewport-bug-workaround.js' %}"></script>

<!-- Custom javascript -->
<script src="{% static 'enose/js/theme.js' %}"></script>
<script src="{% static 'enose/js/datacontroler.js' %}"></script>

</body>
</html>
