/*!
 * Author: Preview Technologies Limited
 * Email: info@previewtechs.com
 * Licensed: MIT
 */

/* Common classes */

.overview-chart {
    color: #81bcf7 ;
    background: #f3f5f7;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 230px;
    height: 30px;
    font-size: 14px;
	font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    /*overflow-x: hidden;*/
    background: #f3f8ff;
    font-family: 'Roboto', sans-serif;
}

/* Structure classes */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

.panel-body-warning{
	padding: 15px;
	color:red;
	font-size:17px;
	word-spacing: 10px;
}

.gazy-header {
    color: #748795;
    background: #f3f5f7;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 230px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.gazy-value {
    color: #748795;
    background: white;
    border: 1px solid #eee;
    width: 230px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	background-color: rgba(0,0,0,1.0);
	background-image: url('../img/background2.png');
	background-position: left;
	background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav > .turn-on-off {
	text-align: center;
}

.btn-on{
	background-color: silver;
	border-radius: 50px;
    color: black;
    font-weight: 1500;
    font-size: 10px;
    padding: 0px 17px 0px 17px;
    outline: none;
    box-shadow: none;
}

.btn-on:hover{
	background-color: green;
	border-radius: 50px;
    color: black;
    font-weight: 1500;
    font-size: 10px;
    padding: 0px 17px 0px 17px;
    outline: none;
    box-shadow: none;
}

.btn-off{
	background-color: silver;
	border-radius: 50px;
    color: black;
    font-weight: 1500;
    font-size: 10px;
    padding: 0px 15px 0px 15px;
    outline: none;
    box-shadow: none;
}

.btn-off:hover{
	background-color: red;
	border-radius: 50px;
    color: black;
    font-weight: 1500;
    font-size: 10px;
    padding: 0px 15px 0px 15px;
    outline: none;
    box-shadow: none;
}

.nose-control{
    font-weight: bold;
    font-size: 14px;
	padding-left: 2px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}

.wrapper_toggle_btn {
	position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    z-index: 111;
}

.wrapper_toggle_btn .icon-bar {
    width: 25px;
    height: 3px;
    background: #273140;
    margin: 5px;
    display: block;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar classes */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #596d7c;
    font-size: 16px;
    font-weight: 700;
}

.sidebar-nav li a i,
.sidebar-nav li a span {
    color: #3c85a6;
    width: 30px;
    font-size: 14px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #3c85a6;
    background: #181e27
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    padding: 20px 10px 15px 5px;
}

.sidebar-nav > .sidebar-brand .logo {
    height: 40px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* Header classes */
.header {
    background: #FFF;
    padding: 15px;
}

.search_bar {
    margin-left: 54px;
}

.search_bar_input .input-group-addon {
    background: white !important;
	height: 27px;
    padding-right: 0px;
    color: #ddd;
    border: none;
}

.search_bar_input .input-group-addon button {
    outline: none;
}

.search_bar_input .input-group-addon .fa {
    font-size: 18px;
}

.search_bar_input .form-control {
    border: none;
    box-shadow: none;
    border-color: #ccc;
    height: 50px;
    padding-left: 5px;
    font-size: 16px;
}

.search_bar_input button {
    border: 0;
    background: transparent;
}

.search_bar_input .form-control::-webkit-input-placeholder {
    color: #ddd;
}

.search_bar_input .form-control:-moz-placeholder {
    color: #ddd;
}

.search_bar_input .form-control::-moz-placeholder {
    color: #ddd;
}

.search_bar_input .form-control:-ms-input-placeholder {
    color: #ddd;
}

.profile-overview {
    margin-top: 10px;
}

.customm-dropdown .profile-pic {
    width: 40px;
    border-radius: 50%;
    border: 4px solid #d2dbe2;
    margin-right: -14px;
    position: absolute;
    left: -22px;
    top: -4px;
}

.customm-dropdown .btn,
.customm-dropdown .btn:focus {
    border-radius: 50px;
    background: #eaf3fa;
    color: #616060;
    font-weight: 500;
    font-size: 12px;
    padding: 7px 10px 5px 22px;
    outline: none;
    box-shadow: none;
}

.customm-dropdown .btn .caret {
    color: #8cd6f3;
    float: right;
    text-align: right;
    display: block;
    margin-top: 7px;
    margin-left: 4px;
}

.customm-dropdown .dropdown-menu > li > a {
    display: block;
    text-decoration: none;
    color: #596d7c;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 20px;
}

/* Content classes */
.content-area {
    padding-top: 15px;
}

.content-area > .row {
    margin-bottom: 10px;
}

.overview-block {
    background: #FFF;
    margin-bottom: 10px;
    border: 1px solid #eee;
	padding-bottom: 10px;
}

.overview-left {
    background: #f9fafb;
}

.overview-left-chart {
    background: white;
}

.overview-icon {
    color: #81bcf7;
    background: #f3f5f7;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 70px;
    height: 70px;
    font-size: 36px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.overview-right {
    padding: 20px 25px;

}

.overview-right .overview-value {
    margin: 10px 0px 10px 0px;
    font-size: 24px;
    font-weight: 400;
    color: #748795;
}

.overview-right .overview-title {
    color: #bdc6cc;
    font-size: 12px;
}

.panel {
    border-radius: 2px;
}

.panel-primary {
    border-color: #596d7c;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #596d7c;
    border-color: #596d7c;
    padding: 15px;
}

.panel-default {
    border-color: #d9d9d9;
}

.panel-default > .panel-heading {
    color: #565e6a;
    background-color: #f3f5f7;
    border-color: #d9d9d9;
    padding: 15px;
}

.panel-title {
    text-transform: uppercase;
}

/* Footer classes */
.footer {
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copy-text {
    text-align: center;
    color: #898f96;
    font-size: 12px;
    margin-bottom: 0px;
}

/* Media queries for large display */
@media (min-width: 1400px) {
    .content-area {
        padding: 25px;
    }

    .overview-right .overview-value {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Media queries for medium display */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Media queries for small (Tab/Mobile) display */
@media (max-width: 768px) {
	
    .profile-overview {
        margin-top: 0px;
    }
	

    .wrapper_toggle_btn {
        top: 15px;
    }

    .content-area {
        padding-top: 15px;
    }

    .overview-right {
        padding: 15px 40px;
    }

    .overview-right .overview-value {
        font-size: 32px;
    }
}

}